.btn,
.jumbotron,
.nav :hover {
   border-radius: 0px;
}

body {
   background: #343a40;
}

.logo-bar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   max-height: 150px;
   max-width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer {
   position: relative;
   bottom: 0px;
   left: 0px;
   right: 0px;
}
